.singleChart {
  width: 250px;
  justify-content: space-around ;
}

.circularChart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circleBG {
  fill: none;
  stroke: #eee;
  stroke-width: 1.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 3.5s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.percentage {
  fill: white;
  font-size: 0.25em;
}

.text {
  fill: white;
  font-size: 0.2rem;
  font-weight: 100;
}

.singleChart svg text {
  text-anchor: middle;
  dominant-baseline: middle;
}