.react-calendar {
    border-radius: 4px;
    padding: 1rem;
    border: 1px solid #e2e8f0 !important;
    font-family: "Quicksand" !important;

    abbr {
        text-decoration: none !important;
    }
}

.react-calendar__tile--active {
    background-color: #00ccee !important;
}
